<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/" ng-hide="profile.Ld.Ei || main.profile.Ld.Ei">Feed-reader</a>
        <img class="profile-pic" ng-src="{{profile.Ld.Ei}}" ng-show="profile.Ld.Ei" width="40%">
        <img class="profile-pic" ng-src="{{main.profile.Ld.Ei}}" ng-show="main.profile.Ld.Ei" width="40%">
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li ng-class="(main) ? 'active' : ''"><a href="#/">Home</a></li>
          <li ng-class="(feeds) ? 'active' : ''"><a ng-href="#/feeds">Feeds</a></li>
          <li ng-class="(movies) ? 'active' : ''"><a ng-href="#/movies">Movies</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
